body{
    background-color: #22272c;
    padding: 0;
    margin: 0;
}

header{
    background-color: #2a4158;
    width: fit-content;
    display: flex;
    width: 100vw;
    height: 80px;
}

header>p{
    height: fit-content;
    width: fit-content;
    margin: auto 50px;
    cursor: pointer;
    font-size: 30px;
}

.curiosities, .links{
    background-color: #2a4158;
    width: 1200px;
    margin: auto;
    border-radius: 20px;
    padding-bottom: 20px;
    padding-top: 5px;
    margin-top: 50px;
}

.curiosities *, .links *{
    text-align: center;
}

.curiosities p, .links a{
    font-size: 25px;
    width: 80%;
    margin: 15px auto;
}
.curiosities h1, .links h1{
    font-size: 40px;
}

.links a{
    display: block;
    width: 80%;
    color:#958a56;
    text-decoration: none;
}
