@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    font-family: 'Roboto';
}

body {
    background-color: #264653;
    padding: 0;
    margin: 0;
    width: 100vw;
    overflow-x: hidden;
    padding-bottom: 100px;
}

header {
    background-color: #2a9d8f;
    width: fit-content;
    display: flex;
    width: 100vw;
    height: 80px;
}

header>p {
    height: fit-content;
    width: fit-content;
    margin: auto 50px;
    cursor: pointer;
    font-size: 30px;
    color: #e9c46a;
}

.photos {
    margin: auto;
    margin-top: 100px;
    display: grid;    
    grid-template-columns: repeat(3, 1fr);
    row-gap: 50px;
    justify-content: center;
    max-width: 1800px;
}

.photo {
    width: 500px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    background-color: #2a9d8f;  
    margin: auto;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 0px 25px 5px #2a9d9046;
}

.photo img {
    display: block;
    width: 500px;
    height: 300px;
    object-fit:cover;
    
}

.photo p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    height: 40px;
    overflow-y: auto;
    font-size: 20px;
    color:#f4a261;
}

@media screen and (max-width: 1700px) {
    .photos{
        grid-template-columns: repeat(2, 1fr);     
        width: 1200px;   
    }
}

@media screen and (max-width: 1200px) {
    .photos{
        grid-template-columns: 1fr;     
        width: fit-content;   
    }
}

@media screen and (max-width: 800px) {
    header{
        justify-content: space-between;
        width: calc(100vw - 60px);
        padding: 0 30px;
    }
    header p{
        font-size: max(22px,3.75vw);
        margin: auto 0;
    }
}

@media screen and (max-width: 600px) {
    .photo{
        width: 84vw;
    }
}
