body{
    background-color: #22272c;
    padding: 0;
    margin: 0;
}

header{
    background-color: #2a4158;
    width: fit-content;
    display: flex;
    width: 100vw;
    height: 80px;
}

header>p{
    height: fit-content;
    width: fit-content;
    margin: auto 50px;
    cursor: pointer;
    font-size: 30px;
}

.info{
    background-color: #2a4158;
    width: 600px;
    margin: auto;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 20px;
}

.info *{
    text-align: center;
}

.info p{
    font-size: 25px;
}
.info h1{
    font-size: 40px;
}

.link{
    cursor: pointer;
}